{% extends "base.html" %}
{% block ng_control %}ng-controller="CanvasControls"{% endblock %}
{% block page_content %}
<section class="content">
<div class="row large-margin">
    <div class="col-xs-1 m-t" object-buttons-enabled="getSelected()" id="side_options">
        <div class="outer">
        <div class="middle">
        <div class="inner">
        <button type="button" class="btn  bg-red btn-app btn-move"  id="clear" ng-click="confirmClear()"><i class="fa fa-trash"></i>Clean editor</button>
        <button type="button" class="btn  bg-yellow btn-app btn-move"  id="clear_mask" ng-click="confirmClearMasks()"><i class="fa fa-trash"></i> Clear masks</button>
        <div ng-show="canvas.getActiveGroup()">
            <button type="button" class="btn btn-app btn-danger btn-object-action bg-maroon btn-move" id="remove-selected-group" ng-click="removeSelected()"><i class="fa fa-trash"></i>Delete</button>
            <button type="button" class="btn btn-app btn-object-action bg-yellow btn-move" id="deselect_group" ng-click="deselect()"><i class="fa fa-minus"></i>Deselect</button>

        </div>
        <div ng-show="canvas.getActiveObject()">
            <button type="button" class="btn btn-app btn-danger btn-object-action bg-maroon btn-move" id="remove-selected" ng-click="removeSelected()"><i class="fa fa-minus"></i>Delete</button>
            <button type="button" class="btn btn-app btn-default btn-object-action btn-move" id="duplicate" ng-click="duplicate()"><i class="fa fa-copy"></i>Duplicate</button>
            <button id="send-backwards" class="btn btn-default btn-app btn-object-action btn-move" ng-click="sendBackwards()"><i class="fa fa-step-backward"></i>Move back</button>
            <button id="bring-forward" class="btn btn-default btn-app btn-object-action btn-move"  ng-click="bringForward()"><i class="fa fa-step-forward"></i>Move forward</button>
            <button id="send-to-back" class="btn btn-default btn-app btn-object-action btn-move"  ng-click="sendToBack()"><i class="fa fa-backward"></i>Send to back</button>
            <button id="bring-to-front" class="btn btn-default btn-app btn-object-action btn-move"  ng-click="bringToFront()"><i class="fa fa-forward"></i>Bring to front</button>
            <button type="button" class="btn btn-app btn-object-action bg-yellow btn-move" id="deselect" ng-click="deselect()"><i class="fa fa-minus"></i>Deselect</button>
            <h5>Scale</h5>
            <input value="100" type="range" bind-value-to="scale">
            <div id="color-opacity-controls" ng-show="canvas.getActiveObject()">
                <h5>Opacity</h5>
                <input value="100" type="range" bind-value-to="opacity">
                <!--<h5>Color</h5>-->
                <!--<input type="color" bind-value-to="fill">-->
            </div>
        </div>
    </div>
    </div>
    </div>
    </div>
    <div class="col-xs-5 m-t input">
        <div class="operations">
            <form id="image-form"  onsubmit="return false;">
                <input type='file'  id='imgfile' style="display:none"/>
                <a type='button' class="btn btn-app btn-default" id='btnLoad' ng-click='load_image();'><i class="fa fa-image"></i>Add image</a>
            </form>
            <button id="drawing-mode_f"
              ng-click="setFreeDrawingMode(!getFreeDrawingMode(1),1)"
              ng-class="{'btn-inverse': getFreeDrawingMode(1)}" class="btn bg-green btn-app">
              <i class="fa fa-pencil"></i> Draw Foreground
            </button>
            <button id="drawing-mode_b"
              ng-click="setFreeDrawingMode(!getFreeDrawingMode(2),2)"
              ng-class="{'btn-inverse': getFreeDrawingMode(2)}" class="btn bg-red btn-app">
              <i class="fa fa-pencil"></i> Draw Background
            </button>
            <div ng-show="getFreeDrawingMode(1)" class="drawing-mode">
                <button id="drawing-mode_x" ng-click="setFreeDrawingMode(!getFreeDrawingMode(1),1)" class="btn bg-red btn-app stop_btn"> <i class="fa fa-close"></i>Stop Drawing!</button>
            </div>
            <div ng-show="getFreeDrawingMode(2)" class="drawing-mode">
                <button id="drawing-mode_x_2" ng-click="setFreeDrawingMode(!getFreeDrawingMode(2),2)" class="btn bg-red btn-app stop_btn"> <i class="fa fa-close"></i>Stop Drawing!</button>
            </div>
            <div id="drawing-mode-wrapper"  class="drawing-mode">
            <div id="drawing-mode-options"  ng-show="getFreeDrawingMode()">
              <h5>Brush width</h5>
              <input type="range" value="30" min="0" max="150" bind-value-to="drawingLineWidth">
              <!--<h5>Line color</h5>-->
              <!--<input type="color" bind-value-to="drawingLineColor">-->
            </div>
            </div>
            <button href="" class="btn btn-app btn-success" id="segment" ng-click="segment()"><i class="fa fa-arrow-circle-right"></i>Segment</button>
        </div>
        <div id="canvas-wrapper">
            <canvas id="canvas"  width="640" height="640"></canvas>
        </div>
        <div class="m-t">
                <div id="dat_gui" class="gui" ng-show="getDev()"></div>
        </div>
    </div>
    <div class="col-xs-5 output m-t">
        <div style="width:650px;">
            <div class="operations_output">
            <button type="button" id="export" class="btn btn-app  btn-move btn-default bg-green" ng-click="export()"><i class="fa fa-arrow-left"></i>Export</button>
            <button type="button" id="rasterize" class="btn btn-app btn-default bg-navy" ng-click="download()"><i class="fa fa-download"></i>Download</button>
            </div>
            <!--<canvas id="output_canvas" ng-click="addOnClick($event)" width="640" height="640"></canvas>-->
            <canvas id="output_canvas" width="640" height="640"></canvas>
        </div>
    </div>
</div>
</section>
{% endblock %}


{% block page_js %}
    <script>
        var payload = "{{ payload }}";
    </script>
    <!--[if lt IE 9]>
        <script src="/static/fabric/excanvas.js"></script>
    <![endif]-->
    <script src="/static/fabric/fabric.js"></script>
    <script type="text/javascript" src="/static/vision/jsfeat-min.js"></script>
    <script type="text/javascript" src="/static/vision/slic-segmentation.js"></script>
    <script type="text/javascript" src="/static/vision/pf-segmentation.js"></script>
    <script type="text/javascript" src="/static/vision/compatibility.js"></script>
    <script type="text/javascript" src="/static/vision/dat.gui.min.js"></script>
    <script src="/static/convnetjs/build/vis.js"></script>
    <script src="/static/convnetjs/build/util.js"></script>
    <script src="/static/convnetjs/build/convnet.js"></script>
    <script src="/static/convnetjs/demo/js/image-helpers.js"></script>
    <script src="/static/convnetjs/demo/js/pica.js"></script>
    <script src="/static/hopscotch/js/hopscotch.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.5/angular.min.js"></script>
    <script src="/static/app/utils.js"></script>
    <script src="/static/app/app_config.js"></script>
    <script src="/static/app/controller.js"></script>
    <script src="/static/app/app.js"></script>
{% endblock %}
{% block ngblock %}ng-app="cveditor"{% endblock %}

{% block page_css %}
    <link rel="stylesheet" href="/static/app/app.css">
    <link rel="stylesheet" href="/static/hopscotch/css/hopscotch.css">
{% endblock %}

{% block page_sidebar %}
{% endblock %}

{% block page_header %}
                <li>
                <div id="status" ng-model="status" ng-show="checkStatus()" class="alert alert-info alert-dismissable">{[ status ]}
                    <button type="button" class="close" ng-click="disableStatus()" aria-hidden="true">×</button>
                </div>
                </li>
                <li><a ng-click="showDev()" href="#" id="dev"><i class="fa fa-help"></i>{[ dev ? 'Hide' : 'Show' ]} Developer options</a></li>
                <li><a ng-click="showTour()" href="#" id="tutorial"><i class="fa fa-help"></i>Tutorial</a></li>
                <li><a href="https://github.com/AKSHAYUBHAT/ImageSegmentation" target="_blank" id="github"><i class="fa fa-github"></i> Github</a></li>
{% endblock %}